.banner{
    position: relative;
    img{
        height: auto;
    }
    .bn-title{
        position: absolute;
        top:25%;
        right: 20%;
        p{
            color: $text-gray;
            font-size: 1.25vw;
            
        }
        h1{
            font-size: 3.333vw;
            color: $text-black;
            padding-bottom: 3.125vh;
        }
        button{
            @include btn;
            padding: 0.833vh 1.042vw;
            color: $text-white;
            font-size: 1.354vw;
            
        }
    }
}

.review-banner{
    margin-top: 5.208vw;
    .review-title{
        h1{
            margin-top: 1.719vw;
            font-weight: 700;
            // font-size: 2.13vw;
            
        }
        p{
            color: $text-gray;
            margin-top: 11px;
        }
        button{
            @include btn;
            margin-top: 11px;
            // font-size: 0.833vw;
            padding: 0.451vw 2.083vw;
            color: $text-white;
            i{
                padding-left: 10px;
            }

        }
    }
    .review-right{
        display: flex;
        flex-direction: column;
        img{
            flex-basis: 50%;
            // height: 100%;
            &:first-child{
                padding-bottom: 0.573vw;
            }
            
        }
    }
}

.cms-banner{
    margin-top: 85px;

    .cms-item{
        position: relative;
        overflow: hidden;
        img{
            transition: all 0.5s;
        }



        .cms-title{
            position: absolute;
            top: 25%;
            left: 10%;
            p{
                color: $text-gray;
                font-weight: 500;
                font-size: 17px;

            }
            h4{
                font-weight: 700;
                color: $text-black;
                font-size: 35px;
                
                
            }
            button{
                background-color: transparent;
                border: none;
                font-size: 13px;
                color: $btn ;
                text-decoration: underline;
                margin-top: 5.208vw ;
            }
        }
        &:hover{
            img{
                transition: all 0.5s;
                transform: scale(1.1);
            }
        }
    }
}


.products{
    margin-top: 210px;
    h2{
        font-weight: 700;
        
    }
    ul {
        margin-top: 20px;

        li {
            li.nav-item {
                a.nav-link {
                    text-transform: capitalize;

                    &:hover {
                        color: $btn; // Color on hover
                    }

                    &.active {
                        color: $btn; // Color for the active state
                    }
                }
            }
        }
    }

@media screen and (max-width: $mobile) {
    .review-right{
        display: none !important;
    }
    .banner{
        img{
            // height: 57.917vw;
            
        }
    }
    .cms-banner{
        .cms-item{
            &:first-child{
                margin-bottom: 10px;
            }
            .cms-title{
                p{
                    font-size: 14px !important;
                }
                h4{
                    font-size: 20px !important;
                }
            }
        }
    }
}
@media screen and (max-width: $table) {

}
@media screen and (max-width: $laptop) {

}
@media screen and (max-width: $desktop) {
    .cms-banner{
        .cms-item{
            .cms-title{
                p{
                    font-size: 1.4vw;
                    
                }
                h4{
                    font-size: 2.418vw;
                }
                button{

                }
            }
        }
    }
}
