@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Rethink+Sans:wght@400;500;600;700;800&display=swap");
body {
  background-color: var(--bgn-color, #F5F5F5);
  font-family: "Manrope", sans-serif;
  font-family: "Rethink Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rethink Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #181818;
}

p {
  font-family: "Rethink Sans", sans-serif;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #181818 !important;
  margin: 0;
  padding: 0;
}

.logo {
  background-color: #262626;
  height: auto;
}
.logo img {
  padding: 32px;
}

.hd-menu button {
  border: none;
  font-weight: bold;
}
.hd-menu button i {
  padding: 0 5px;
}
.hd-menu ul li i {
  padding: 15px;
}

.hd-nav button {
  border: none;
  font-weight: bold;
  color: #181818;
}
.hd-nav button i {
  padding: 0 5px;
}
.hd-nav .navbar-toggler:focus {
  box-shadow: none;
}
.hd-nav ul li {
  margin-right: 27px;
}
.hd-nav ul li a {
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  transform: all 0.5s;
}
.hd-nav ul li:hover a {
  transition: all 0.5s;
  color: #E27A25 !important;
}

@media screen and (max-width: 768px) {
  .hd-menu {
    display: flex;
  }
}
.banner {
  position: relative;
}
.banner img {
  height: 35.729vw;
}
.banner .bn-title {
  position: absolute;
  top: 25%;
  left: 55%;
}
.banner .bn-title p {
  color: #909090;
  font-size: 1.25vw;
}
.banner .bn-title h1 {
  font-size: 3.333vw;
  color: #181818;
  padding-bottom: 3.125vh;
}
.banner .bn-title button {
  background-color: #E27A25;
  transition: all 0.5s;
  border: none;
  padding: 0.833vh 1.042vw;
  color: #fff;
  font-size: 1.354vw;
}
.banner .bn-title button:hover {
  background-color: #909090;
  transition: all 0.5s;
}

.review-banner {
  margin-top: 5.208vw;
}
.review-banner .review-title h1 {
  margin-top: 1.719vw;
  font-weight: 700;
}
.review-banner .review-title p {
  color: #909090;
  margin-top: 11px;
}
.review-banner .review-title button {
  background-color: #E27A25;
  transition: all 0.5s;
  border: none;
  margin-top: 11px;
  padding: 0.451vw 2.083vw;
  color: #fff;
}
.review-banner .review-title button:hover {
  background-color: #909090;
  transition: all 0.5s;
}
.review-banner .review-title button i {
  padding-left: 10px;
}
.review-banner .review-right {
  display: flex;
  flex-direction: column;
}
.review-banner .review-right img {
  flex-basis: 50%;
}
.review-banner .review-right img:first-child {
  padding-bottom: 0.573vw;
}

.cms-banner {
  margin-top: 85px;
}
.cms-banner .cms-item {
  position: relative;
  overflow: hidden;
  z-index: 20;
  border: 1px solid #262626;
  padding: 0;
}
.cms-banner .cms-item img {
  z-index: 100;
  transition: all 0.5s;
}
.cms-banner .cms-item .cms-title {
  position: absolute;
  top: 25%;
  left: 10%;
}
.cms-banner .cms-item .cms-title p {
  color: #909090;
  font-weight: 500;
  font-size: 17px;
}
.cms-banner .cms-item .cms-title h4 {
  font-weight: 700;
  color: #181818;
  font-size: 35px;
}
.cms-banner .cms-item .cms-title button {
  background-color: transparent;
  border: none;
  font-size: 13px;
  color: #E27A25;
  text-decoration: underline;
  margin-top: 5.208vw;
}
.cms-banner .cms-item:hover img {
  transition: all 0.5s;
  transform: scale(1.1);
}

.products {
  margin-top: 150px;
}
.products h2 {
  font-weight: 700;
}
.products .nav-pills .nav-link.active,
.products .nav-pills .show > .nav-link {
  background-color: transparent;
  color: #E27A25 !important;
}
.products ul {
  margin-top: 20px;
  margin-bottom: 60px;
}
.products ul li a {
  font-weight: 600;
  transition: all 0.5s;
}
.products ul li:hover a {
  transition: all 0.5s;
  color: #E27A25 !important;
}
.products .products-item .products-img {
  position: relative;
}
.products .products-item .products-img .sale {
  position: absolute;
  top: 4%;
  left: 4%;
  color: #fff;
  background-color: #E27A25;
  padding: 4px 7px;
}
.products .products-item .products-detail {
  margin-top: 15px;
  margin-bottom: 45px;
}
.products .products-item .products-detail a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  transition: all 0.5s;
}
.products .products-item .products-detail a:hover {
  transition: all 0.5s;
  color: #E27A25 !important;
}
.products .products-item .products-detail p {
  color: #E27A25;
  font-weight: 700;
}
.products .products-item .products-detail p span {
  font-size: 11.17px;
  font-weight: 400;
  margin-left: 5px;
  color: #909090;
}
.products .product-btn {
  margin-top: 2.06vw;
}
.products .product-btn a {
  background-color: #E27A25;
  transition: all 0.5s;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: bold;
  color: #fff !important;
}
.products .product-btn a:hover {
  background-color: #909090;
  transition: all 0.5s;
}

.blog {
  margin-top: 100px;
}
.blog #blog-slider-slick .slick-prev,
.blog #blog-slider-slick .slick-next {
  display: none !important;
}
.blog h2 {
  font-weight: 700;
  margin-bottom: 30px;
}
.blog .blog-item {
  padding: 0 10px;
}
.blog .blog-item a .blog-detail {
  margin-top: 10px;
}
.blog .blog-item a .blog-detail p {
  font-size: 14px;
  color: #909090;
}
.blog .blog-item a .blog-detail h4 {
  transition: all 0.5s;
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 7px 0;
}
.blog .blog-item a .blog-detail h4:hover {
  transition: all 0.5s;
  color: #E27A25 !important;
}

@media screen and (max-width: 576px) {
  .review-right {
    display: none !important;
  }
  .cms-banner .cms-item:first-child {
    margin-bottom: 10px;
  }
  .cms-banner .cms-item .cms-title p {
    font-size: 14px !important;
  }
  .cms-banner .cms-item .cms-title h4 {
    font-size: 20px !important;
  }
  .banner .bn-title {
    top: 20% !important;
  }
  .banner .bn-title p {
    font-size: 3.25vw !important;
  }
  .banner .bn-title h1 {
    font-size: 6.333vw !important;
    font-weight: bold;
  }
  .banner .bn-title button {
    background-color: #E27A25;
    transition: all 0.5s;
    border: none;
    padding: 0.833vh 1.542vw !important;
    color: #fff;
    font-size: 3.7vw !important;
  }
  .banner .bn-title button:hover {
    background-color: #909090;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 768px) {
  .banner img {
    height: 60.917vw;
  }
  .banner .bn-title p {
    font-size: 3.25vw;
  }
  .banner .bn-title h1 {
    font-size: 6.333vw;
    font-weight: bold;
  }
  .banner .bn-title button {
    background-color: #E27A25;
    transition: all 0.5s;
    border: none;
    padding: 0.833vh 1.042vw;
    color: #fff;
    font-size: 3.354vw;
  }
  .banner .bn-title button:hover {
    background-color: #909090;
    transition: all 0.5s;
  }
  .products .products-item:nth-child(n+7) {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .banner img {
    height: 66.992vw;
  }
  .banner .bn-title {
    top: 30%;
  }
  .banner .bn-title p {
    font-size: 1.85vw;
  }
  .banner .bn-title h1 {
    font-size: 4.8vw;
    font-weight: bold;
  }
  .banner .bn-title button {
    background-color: #E27A25;
    transition: all 0.5s;
    border: none;
    padding: 0.833vh 1.042vw;
    color: #fff;
    font-size: 2.354vw;
  }
  .banner .bn-title button:hover {
    background-color: #909090;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1440px) {
  .cms-banner .cms-item .cms-title p {
    font-size: 1.4vw;
  }
  .cms-banner .cms-item .cms-title h4 {
    font-size: 2.418vw;
  }
}
.services {
  margin-top: 100px;
}
.services .services-items {
  padding: 34.166px 27.529px 35.533px 27.333px;
}
.services .services-items i {
  font-size: 32.799px;
  line-height: normal;
  padding: 8px 0;
  color: #909090;
}
.services .services-items .line {
  margin: 0 25px;
  border-right: 1px solid #909090;
}
.services .services-items p {
  font-size: 14.4px;
  color: #181818;
  font-weight: 700;
}
.services .services-items p span {
  color: #909090;
  font-weight: 400;
}

.ft-all {
  background-color: #262626;
}
.ft-all .ft-items {
  margin-top: 70px;
}
.ft-all .ft-items p {
  padding: 25px 0;
  color: #fff;
  font-size: 12.703px;
  font-weight: 600;
}
.ft-all .ft-items .ft-brand {
  margin-bottom: 10px;
}
.ft-all .ft-items .ft-brand ul li a {
  padding: 0 27px 0 0;
}
.ft-all .ft-items .ft-brand ul li a i {
  color: #fff;
  font-size: 24px;
}
.ft-all .ft-items h5 {
  color: #fff;
}
.ft-all .ft-items .line {
  margin: 19px 0;
  height: 1px;
  width: 88px;
  background-color: #E27A25;
}
.ft-all .ft-items ul li a {
  padding-left: 0;
  padding-bottom: 15px;
  color: #fff !important;
  transition: all 0.5s;
}
.ft-all .ft-items ul li a:hover {
  transition: all 0.5s;
  color: #E27A25 !important;
}

.copyright {
  background-color: #181818;
  padding: 23px 0;
}
.copyright h5 {
  color: #fff;
}

@media screen and (max-width: 576px) {
  .services {
    display: none;
  }
  .ft-all .ft-items {
    margin-top: 50px;
  }
  .ft-all .ft-items .ft-logo {
    display: flex;
    justify-content: center;
  }
  .ft-all .ft-items p {
    text-align: center;
  }
  .ft-all .ft-items .ft-brand ul {
    justify-content: center !important;
  }
  .ft-all .ft-items .line {
    display: flex;
    justify-content: center;
    margin: 19px auto;
  }
  .ft-all .ft-items h5 {
    text-align: center !important;
  }
  .ft-all .ft-items ul li {
    text-align: center;
  }
  .copyright h5 {
    font-size: 14px;
  }
}
.shop-banner {
  background-color: #fff;
  padding: 55px 0;
}
.shop-banner a {
  display: block !important;
  color: #909090 !important;
}
.shop-banner a:last-child {
  color: #262626 !important;
}
.shop-banner a span {
  color: #181818 !important;
  padding: 0 5px;
}

.shop-page {
  margin-top: 20px;
}
.shop-page .products-item .products-img {
  position: relative;
}
.shop-page .products-item .products-img .sale {
  position: absolute;
  top: 4%;
  left: 4%;
  color: #fff;
  background-color: #E27A25;
  padding: 4px 7px;
}
.shop-page .products-item .products-detail {
  margin-top: 15px;
  margin-bottom: 45px;
}
.shop-page .products-item .products-detail a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  transition: all 0.5s;
}
.shop-page .products-item .products-detail a:hover {
  transition: all 0.5s;
  color: #E27A25 !important;
}
.shop-page .products-item .products-detail p {
  color: #E27A25;
  font-weight: 700;
}
.shop-page .products-item .products-detail p span {
  font-size: 11.17px;
  font-weight: 400;
  margin-left: 5px;
  color: #909090;
}
.shop-page .side-menu h3 {
  padding: 10px 22px;
  border-left: 4px solid #181818;
}
.shop-page .side-menu .shop-categories ul {
  margin-top: 30px;
  margin-left: 22px;
  margin-bottom: 60px;
  padding-right: 100px;
}
.shop-page .side-menu .shop-categories ul li {
  padding: 15px 15px 15px 0px;
  border-bottom: 1px solid var(--Text-gray, #909090);
}
.shop-page .side-menu .shop-categories ul li a {
  transition: all 0.5s;
}
.shop-page .side-menu .shop-categories ul li a:hover {
  transition: all 0.5s;
  color: #E27A25 !important;
}
.shop-page .side-menu .shop-prices-values .btn-check:checked + .btn,
.shop-page .side-menu .shop-prices-values .btn.active,
.shop-page .side-menu .shop-prices-values .btn.show,
.shop-page .side-menu .shop-prices-values .btn:first-child:active,
.shop-page .side-menu .shop-prices-values :not(.btn-check) + .btn:active {
  color: #E27A25 !important;
  border: none;
}
.shop-page .side-menu .shop-prices-values ul {
  margin-top: 30px;
  margin-left: 22px;
  margin-bottom: 60px;
  padding-right: 60px;
}
.shop-page .side-menu .shop-prices-values ul li {
  padding: 15px 15px 15px 0px;
}
.shop-page .side-menu .shop-prices-values ul li a {
  padding: 0;
  transition: all 0.5s;
}
.shop-page .side-menu .shop-prices-values ul li a i {
  padding-right: 9px;
}
.shop-page .side-menu .shop-prices-values ul li a:hover {
  transition: all 0.5s;
  color: #E27A25 !important;
}
.shop-page #shop-filter {
  margin: 20px 0 20px 0;
  display: none;
  padding: 7px 20px;
  border: 2px solid #909090;
  background-color: #fff;
}
.shop-page #shop-filter i {
  padding-right: 5px;
}
.shop-page .side-menu-mobile {
  background-color: #fff;
  border: 1px solid var(--Text-gray, #909090);
  padding: 20px;
  margin-bottom: 30px;
  display: none;
}
.shop-page .side-menu-mobile h3 {
  padding: 10px 22px;
  border-left: 4px solid #181818;
}
.shop-page .side-menu-mobile .shop-categories ul {
  margin-top: 30px;
  margin-left: 22px;
  margin-bottom: 60px;
  padding-right: 100px;
}
.shop-page .side-menu-mobile .shop-categories ul li {
  padding: 15px 15px 15px 0px;
  border-bottom: 1px solid var(--Text-gray, #909090);
}
.shop-page .side-menu-mobile .shop-categories ul li a {
  transition: all 0.5s;
}
.shop-page .side-menu-mobile .shop-categories ul li a:hover {
  transition: all 0.5s;
  color: #E27A25 !important;
}
.shop-page .side-menu-mobile .shop-prices-values .btn-check:checked + .btn,
.shop-page .side-menu-mobile .shop-prices-values .btn.active,
.shop-page .side-menu-mobile .shop-prices-values .btn.show,
.shop-page .side-menu-mobile .shop-prices-values .btn:first-child:active,
.shop-page .side-menu-mobile .shop-prices-values :not(.btn-check) + .btn:active {
  color: #E27A25 !important;
  border: none;
}
.shop-page .side-menu-mobile .shop-prices-values ul {
  margin-top: 30px;
  margin-left: 22px;
  margin-bottom: 60px;
  padding-right: 100px;
}
.shop-page .side-menu-mobile .shop-prices-values ul li {
  height: 55px;
  padding: 16px 15px 15px 0px;
  border-bottom: 1px solid var(--Text-gray, #909090);
}
.shop-page .side-menu-mobile .shop-prices-values ul li a {
  padding: 0;
  transition: all 0.5s;
}
.shop-page .side-menu-mobile .shop-prices-values ul li a i {
  padding-right: 9px;
}
.shop-page .side-menu-mobile .shop-prices-values ul li a:hover {
  transition: all 0.5s;
  color: #E27A25 !important;
}
.shop-page .shop-page-num .nav-link.active {
  background-color: #E27A25;
  transition: all 0.5s;
  border: none;
  color: #fff !important;
}
.shop-page .shop-page-num .nav-link.active:hover {
  background-color: #909090;
  transition: all 0.5s;
}
.shop-page .shop-page-num ul li {
  margin: 0 5px;
  transition: all 0.5s;
  border: none;
}
.shop-page .shop-page-num ul li a {
  transition: all 0.5s;
}
.shop-page .shop-page-num ul li:hover {
  color: #fff !important;
  background-color: #E27A25;
  transition: all 0.5s;
}
.shop-page .shop-page-num ul li:hover a {
  transition: all 0.5s;
  color: #fff !important;
}
.shop-page .shop-page-num ul li a {
  border: 1px solid #909090;
  border-radius: 0;
  height: 42px;
}

@media screen and (max-width: 768px) {
  .shop-page .side-menu {
    display: none;
  }
  .shop-page #shop-filter {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .shop-page {
    margin-bottom: 100px;
  }
}
.product .slider-nav img {
  padding: 0 10px;
}
.product .product-detail h4 {
  font-weight: 700;
}
.product .product-detail h5 {
  font-weight: 600;
  color: #E27A25;
  margin-top: 8px;
}
.product .product-detail .line {
  height: 1px;
  width: 100%;
  background-color: #909090;
  margin: 40px 0 25px 0;
}
.product .product-detail p {
  color: #909090;
}
.product .quantity {
  margin-top: 90px;
}
.product .quantity .quantity-box .input-group {
  border: 1px solid var(--Text-gray, #909090);
}
.product .quantity .quantity-box .input-group .form-control {
  box-shadow: none;
  border: none;
}
.product .quantity .quantity-box .input-group input {
  border-left: 1px solid var(--Text-gray, #909090) !important;
  border-right: 1px solid var(--Text-gray, #909090) !important;
}
.product .quantity .quantity-btn {
  margin: auto 0px;
}
.product .quantity .quantity-btn button {
  border-radius: 0;
  padding: 7px 35px;
  background-color: #E27A25;
  transition: all 0.5s;
  border: none;
}
.product .quantity .quantity-btn button:hover {
  background-color: #909090;
  transition: all 0.5s;
}

.description {
  margin-top: 95px;
}
.description .description-btn ul li {
  margin-right: 10px;
}
.description .description-btn ul li a {
  padding: 16px 20px;
  transition: all 0.5s;
  border: none;
  font-weight: 700;
}
.description .description-btn ul li a a {
  transition: all 0.5s;
}
.description .description-btn ul li a:hover {
  color: #fff !important;
  background-color: #E27A25;
  transition: all 0.5s;
}
.description .description-btn ul li a:hover a {
  transition: all 0.5s;
  color: #fff !important;
}
.description .description-btn ul li .active {
  color: #fff !important;
  background-color: #E27A25;
  transition: all 0.5s;
  border: none;
}
.description .description-btn ul li .active:hover {
  background-color: #909090;
  transition: all 0.5s;
}
.description .description-detail {
  background-color: #fff;
}
.description .description-detail dl {
  padding: 35px 22px;
}
.description .description-detail p {
  padding: 35px 22px;
  color: #909090;
}

.related-products {
  margin: 65px 0 25px 0;
}
.related-products h3 {
  margin-bottom: 25px;
  padding: 10px 22px;
  border-left: 4px solid #181818;
}
.related-products #related-pd .products-item {
  padding: 0 5px !important;
}/*# sourceMappingURL=style.css.map */